<h2>Welcome to the admin panel!</h2>
<p>This is the admin panel.</p>
<p>Would be cool to have some stats here. Example: table with the newest resersvations.</p>

<% 

#linking to external file 
calendars = nil
open("https://calendar.google.com/calendar/ical/ashdeveloper510%40gmail.com/public/basic.ics") do |cal|
 calendars = Icalendar::Calendar.parse(cal) 
end

#select the calendar
calendar = calendars.first

#create an event
event = Icalendar::Event.new
event.dtstart = Icalendar::Values::Date.new('20170428')
event.dtend   = Icalendar::Values::Date.new('20170429')
event.summary = "A great event!"
calendar.add_event(event)

#create event
event2 = calendar.event  # This automatically adds the event to the calendar
event2.dtstart = Icalendar::Values::Date.new('20170328')
event2.dtend   = Icalendar::Values::Date.new('20170329')
event2.summary = "Another great event! #2"

#create event
event3 = calendar.event  # This automatically adds the event to the calendar
event3.dtstart = Icalendar::Values::Date.new('20170328')
event3.dtend   = Icalendar::Values::Date.new('20170329')
event3.summary = "Another great event! #3"

#get and show info from calendar
calendar.events.each do |event| %>
  <p><%=event.summary%> starts at: <%=event.dtstart%> and ends at <%=event.dtend%></p>
  <% puts "#{event.summary} starts at: #{event.dtstart} and ends at #{event.dtend}" 
end  

#publish and turn info in ics info
calendar.publish
cal_string = render :text =>  calendar.to_ical 

#info into (create) ics file, this file adress can be used for the other systems
File.open("test.ics", "w") { |f| f.write cal_string }

puts cal_string

%>