<section class="no-padding">

<% @info_content = Content.find_by_name("Surroundings") %>

<div class = "info-text"><%= render "shared/text"%>
<div class="overlay" onClick="style.pointerEvents='none'"></div>
  <iframe
    width="100%"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDelpCpwFtjudXH8CP8Bm7yw7gaX1szApE
      &q=Cas'al+Verde,+Tregole,+Tregole+SI,+Italy" allowfullscreen>
  </iframe>
</div>
</section>
