.guest-name {
    text-align: left;
    padding-left: 30px;
}    
    
.speech-bubble {
   position: relative;
   color: #FFFFFF;
   text-align: left;
   font-style: italic;
   padding: 5px;
   border-radius: 10px;
   border: white solid 3px;
}

.speech-bubble:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 10px 10px 0;
   border-color: #f05f40 transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: -10px;
   left: 33px;
}

.speech-bubble:before {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 12px 12px 0;
   border-color: white transparent;
   display: block;
   width: 0;
   z-index: 0;
   bottom: -15px;
   left: 31px;
}