<div class="row is-flex">
    <% @guestbooks.limit(3).order("RANDOM()").each do |guestbook| %>
      <div class="col-sm-4">
        <div class="card" style="width: 35rem;">
          <div class="card-block">
              <p class="card-text speech-bubble"><%= guestbook.message %></p>
              <h4 class="card-title guest-name"><%= guestbook.name %></h4>
          </div>
        </div>
      </div>
    <% end %>
</div>
