<section class="bg-primary">
    <div class="container">
    <h2 class="text-center">REVIEWS</h2>
      <span class="h2-divider"></span>
      <p class="text-center subtitle">This is what our guests think</p>
      <%= render "guestbooks/guestbook" %>
    </div>
</section>
